﻿<div class="container" ng-controller="app.views.admin.diagnostico as vm">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Diagnóstico</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a class="clickable" ng-click="vm.abrirModalNueva()" title="">Registrar Nuevo Diagnostico <span class="fa fa-plus"></span></a>
        </div>
        <div class="col-md-6 text-right">
            <p>{{vm.diagnostico.totalFilas}} Diagnósticos</p>
        </div>
    </div>
    <div class="row bow-padding-bottom-25">
        <div class="col-row-12 bow-padding-bottom-25">
            <div class="panel panel-default">
                <div class="table-responsive">
                    <table id="table-ext-3" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">Nombre</th>
                                <th class="text-center">Observaciones</th>
                                <th class="text-center">Anula Diagnóstico</th>
                                <th class="text-center">Es opcional</th>
                                <th class="text-center">Estado</th>
                                <th class="text-center">Cambiar Estado</th>
                                <th class="text-center">Editar</th>
                                <th class="text-center">Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="diagnostico in vm.diagnostico.filasMostrar track by $index">
                                <td>
                                    {{diagnostico.nombre}}
                                </td>
                                <td>
                                    {{diagnostico.observaciones}}
                                </td>
                                <td class="text-center">
                                    <i ng-show="diagnostico.esRequerido" class="fa fa-check fa-2x text-success"></i>
                                </td>
                                <td class="text-center">
                                    <i ng-show="diagnostico.esOpcional" class="fa fa-check fa-2x text-success"></i>
                                </td>
                                <td class="text-center">
                                    <span ng-show="diagnostico.esActivo">
                                        Activo
                                    </span>
                                    <span ng-show="!diagnostico.esActivo">
                                        Inactivo
                                    </span>
                                </td>
                                <td class="text-center">
                                    <a class="clickable" ng-click="vm.modificarEstadoDiagnostico(diagnostico)" title="Cambiar el estado del diagnostico"><span class="fa fa-refresh fa-2x text-orange"></span></a>
                                </td>
                                <td class="text-center">
                                    <a class="clickable" ng-click="vm.abrirModalEditar(diagnostico.id)" title="Editar diagnostico"><span class="fa fa-pencil fa-2x text-orange"></span></a>
                                </td>
                                <td class="text-center">
                                    <a class="clickable" ng-click="vm.abrirModalEliminar(diagnostico.id)" title="Eliminar diagnostico"><span class="fa fa-trash fa-2x text-orange"></span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="text-center">
                <pagination items-per-page="vm.diagnostico.filasPorPagina"
                            total-items="vm.diagnostico.totalFilas"
                            ng-model="vm.diagnostico.paginaActual"
                            ng-change="vm.diagnostico.pageChanged()"
                            class="pagination-sm"></pagination>
            </div>
        </div>
    </div>
</div>
