﻿@model Backend_Mint.Web.Models.Account.LoginFormViewModel
@section Styles
{
    <style>
        .container {
            padding-top: 50px;
        }
    </style>
}
@section Scripts
{
    <script src="~/js/Login.js"></script>
}
<div class="container">
    <div id="LoginArea" class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-6">
            <div class="well bs-component">
                <form class="form-horizontal" action="@(Url.Action("Login","Account"))?returnUrl=@(Model.ReturnUrl)">
                    <fieldset>
                        <legend>Bienvenido a MTviapp - Mintransporte</legend>

                        <div class="form-group">
                            <div class="col-lg-12">
                                <input type="text" class="form-control " id="EmailAddressInput" placeholder="Ingrese el Usuario">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-12">
                                <input type="password" class="form-control" id="PasswordInput" placeholder="Ingrese la Contraseña">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="RememberMeInput">
                                        <span class="ripple"></span>
                                        <span class="check"></span> Recordar Usuario
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-12 text-center">
                                <button id="LoginButton" class="btn btn-primary"><i class="fa fa-sign-out"></i> Ingresar</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="col-lg-3">
        </div>
    </div>
</div>