﻿<div class="container" ng-controller="app.views.admin.categorias as vm">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Categorías</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a class="clickable" ng-click="vm.abrirModalNueva()" title="">Registrar Nueva Categoría <span class="fa fa-plus"></span></a>
        </div>
        <div class="col-md-6 text-right">
            <p>{{vm.categorias.totalFilas}} Categorías</p>
        </div>
    </div>
    <div class="row bow-padding-bottom-25">
        <div class="col-row-12 bow-padding-bottom-25">
            <div class="panel panel-default">
                <div class="table-responsive">
                    <table id="table-ext-3" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">Nombre</th>
                                <th class="text-center">Tipo de Categoría</th>
                                <th class="text-center">Editar</th>
                                <th class="text-center">Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="categoria in vm.categorias.filasMostrar track by $index">
                                <td>
                                    {{categoria.nombre}}
                                </td>
                                <td class="text-center">
                                    <i ng-show="categoria.tipoCategoria == 'reporte'" class="fa fa-cogs fa-2x"></i>
                                    <i ng-show="categoria.tipoCategoria == 'historia'" class="fa fa-cubes fa-2x"></i>
                                    <i ng-show="categoria.tipoCategoria == 'vehiculo'" class="fa fa-car fa-2x"></i>
                                    &nbsp;&nbsp; {{categoria.tipoCategoria}}
                                </td>
                                <td class="text-center">
                                    <a class="clickable" ng-click="vm.abrirModalEditar(categoria.id)" title="Editar categoría"><span class="fa fa-pencil fa-2x text-orange"></span></a>
                                </td>
                                <td class="text-center">
                                    <a class="clickable" ng-click="vm.abrirModalEliminar(categoria.id)" title="Eliminar la categoría"><span class="fa fa-trash fa-2x text-orange"></span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="text-center">
                <pagination items-per-page="vm.categorias.filasPorPagina"
                            total-items="vm.categorias.totalFilas"
                            ng-model="vm.categorias.paginaActual"
                            ng-change="vm.categorias.pageChanged()"
                            class="pagination-sm"></pagination>
            </div>
        </div>
    </div>
</div>
