﻿.bow-margin-top-5 {
    margin-top: 5px;
}

.bow-margin-top-10 {
    margin-top: 10px;
}

.bow-margin-top-15 {
    margin-top: 15px;
}

.bow-margin-top-20 {
    margin-top: 20px;
}

.bow-margin-top-25 {
    margin-top: 25px;
}

.bow-margin-bottom-5 {
    margin-bottom: 5px;
}

.bow-margin-bottom-10 {
    margin-bottom: 10px;
}

.bow-margin-bottom-15 {
    margin-bottom: 15px;
}

.bow-margin-bottom-20 {
    margin-bottom: 20px;
}

.bow-margin-bottom-25 {
    margin-bottom: 25px;
}

.bow-padding-top-5 {
    padding-top: 5px;
}

.bow-padding-top-10 {
    padding-top: 10px;
}

.bow-padding-top-15 {
    padding-top: 15px;
}

.bow-padding-top-20 {
    padding-top: 20px;
}

.bow-padding-top-25 {
    padding-top: 25px;
}

.bow-padding-bottom-5 {
    padding-bottom: 5px;
}

.bow-padding-bottom-10 {
    padding-bottom: 10px;
}

.bow-padding-bottom-15 {
    padding-bottom: 15px;
}

.bow-padding-bottom-20 {
    padding-bottom: 20px;
}

.bow-padding-bottom-25 {
    padding-bottom: 25px;
}

.bow-display-block {
    display:block;
}

.navbar-inverse {
    background-color: #f3872a;
    border-color: #f6b253;
}

.text-orange {
    color: #f3872a;
}

.panel {
    margin-bottom: 10px;
}

.clickable {
    cursor: pointer;
}

#map {
    height: 100%;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: pointer;
    background-color: #ffffff;
    opacity: 1;
}