﻿<div class="container" ng-controller="app.views.admin.reporteIncidentes as vm">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Reporte de Incidentes</h1>
        </div>
    </div>
    <div class="row bow-padding-bottom-20">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-3">
                    <label class="control-label" for="tipoContenido">Filtrar por Tipo:</label>
                    <select ng-model="vm.filterTable.contenido" class="form-control" name="tipoContenido" id="tipoContenido" ng-options="tipo as tipo.nombre for tipo in vm.listaTiposReporte" ng-click="vm.limpiarObjeto()">
                        <option value="">Seleccione...</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label class="control-label">Filtrar por Texto:</label>
                    <input type="text" class="form-control" ng-model="vm.filterTable.observaciones"/>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="control-label">Filtrar por Fechas:</label>
                        </div>
                        <div class="col-md-6">
                            <label class="btn-link" ng-click="vm.limpiarFechas()">Limpiar Fechas</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="fecha1" ng-model="vm.filterTable.fecha1" readonly="readonly">
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="fecha2" ng-model="vm.filterTable.fecha2" readonly="readonly">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 text-right">
            <button class="btn btn-info" ng-click="vm.exportFilterData()" ng-disabled="vm.listaReportesIncidenteExportar.length < 1" ng-show="vm.filterTable.contenido.id != '' || vm.filterTable.observaciones != '' || (vm.filterTable.fecha1 != '' && vm.filterTable.fecha2 != '')">Exportar Tabla</button>
            <button class="btn btn-info" ng-click="vm.exportData()" ng-disabled="vm.listaReportesIncidenteExportar.length < 1" ng-hide="vm.filterTable.contenido.id != '' || vm.filterTable.observaciones != '' || (vm.filterTable.fecha1 != '' && vm.filterTable.fecha2 != '')">Exportar Tabla Completa</button>
            <div id="export_filtertable" class="hide">
                <table>
                    <thead>
                        <tr>
                            <th>Tipo</th>
                            <th>Observaciones</th>
                            <th>Dirección</th>
                            <th>Latitud</th>
                            <th>Longitud</th>
                            <th>Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="reporteIncidente in vm.listaReportesIncidenteExportar | filter: vm.customFilter(vm.filterTable)">
                            <td>{{reporteIncidente.tipoReporteIncidente}}</td>
                            <td>{{reporteIncidente.observaciones}}</td>
                            <td>{{reporteIncidente.direccion}}</td>
                            <td>{{reporteIncidente.latitudString}}</td>
                            <td>{{reporteIncidente.longitudString}}</td>
                            <td>{{reporteIncidente.fecha | date:'yyyy-MM-dd'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="export_completetable" class="hide">
                <table>
                    <thead>
                        <tr>
                            <th>Tipo</th>
                            <th>Observaciones</th>
                            <th>Dirección</th>
                            <th>Latitud</th>
                            <th>Longitud</th>
                            <th>Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="reporteIncidente in vm.listaReportesIncidenteExportar">
                            <td>{{reporteIncidente.tipoReporteIncidente}}</td>
                            <td>{{reporteIncidente.observaciones}}</td>
                            <td>{{reporteIncidente.direccion}}</td>
                            <td>{{reporteIncidente.latitudString}}</td>
                            <td>{{reporteIncidente.longitudString}}</td>
                            <td>{{reporteIncidente.fecha | date:'yyyy-MM-dd'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-2 text-right">
            <p>{{vm.listaReportesIncidente.totalFilas}} Reportes</p>
        </div>
    </div>
    <div class="row bow-padding-bottom-25">
        <div class="col-row-12 bow-padding-bottom-25">
            <div class="panel panel-default">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" ng-hide="vm.filterTable.contenido.id != '' || vm.filterTable.observaciones != '' || (vm.filterTable.fecha1 != '' && vm.filterTable.fecha2 != '')">
                        <thead>
                            <tr>
                                <th class="text-center">Tipo de Reporte</th>
                                <th class="text-center">Observaciones</th>
                                <th class="text-center">Fecha</th>
                                <th class="text-center">Consultar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="reporteIncidente in vm.listaReportesIncidente.filasMostrar track by $index">
                                <td>
                                    {{reporteIncidente.tipoReporteIncidente}}
                                </td>
                                <td>
                                    {{reporteIncidente.observaciones | limitTo: 100 }}
                                    <span ng-show="reporteIncidente.observaciones.length > 100"> ...</span>
                                </td>
                                <td class="text-center">
                                    {{reporteIncidente.fecha | date:'yyyy-MM-dd'}}
                                </td>
                                <td class="text-center">
                                    <a class="clickable" ng-click="vm.abrirModalConsultar(reporteIncidente.id)" title="Consultar información del reporte"><span class="fa fa-eye fa-2x text-orange"></span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-striped table-bordered table-hover" ng-show="vm.filterTable.contenido.id != '' || vm.filterTable.observaciones != '' || (vm.filterTable.fecha1 != '' && vm.filterTable.fecha2 != '')">
                        <thead>
                            <tr>
                                <th class="text-center">Tipo de Reporte</th>
                                <th class="text-center">Observaciones</th>
                                <th class="text-center">Fecha</th>
                                <th class="text-center">Consultar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="reporteIncidente in vm.listaReportesIncidenteExportar | filter: vm.customFilter(vm.filterTable)">
                                <td>
                                    {{reporteIncidente.tipoReporteIncidente}}
                                </td>
                                <td>
                                    {{reporteIncidente.observaciones | limitTo: 100 }}
                                    <span ng-show="reporteIncidente.observaciones.length > 100"> ...</span>
                                </td>
                                <td class="text-center">
                                    {{reporteIncidente.fecha | date:'yyyy-MM-dd'}}
                                </td>
                                <td class="text-center">
                                    <a class="clickable" ng-click="vm.abrirModalConsultar(reporteIncidente.id)" title="Consultar información del reporte"><span class="fa fa-eye fa-2x text-orange"></span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="text-center" ng-hide="vm.filterTable.contenido.id != '' || vm.filterTable.observaciones != '' || (vm.filterTable.fecha1 != '' && vm.filterTable.fecha2 != '')">
                <pagination items-per-page="vm.listaReportesIncidente.filasPorPagina"
                            total-items="vm.listaReportesIncidente.totalFilas"
                            ng-model="vm.listaReportesIncidente.paginaActual"
                            ng-change="vm.listaReportesIncidente.pageChanged()"
                            class="pagination-sm"></pagination>
            </div>
        </div>
    </div>
</div>