﻿<div class="modal-header">
    <h2>Editar Diagnósticos</h2>
</div>
<div class="modal-body">
    <div class="alert alert-danger text-center" ng-show="mensajeError">
        <strong>{{mensajeError}}</strong>
    </div>
    <form role="form" name="modalEditarDiagnostico">
        <div class="form-group" ng-class="{'has-error' : modalEditarDiagnostico.iptNombre.$dirty && modalEditarDiagnostico.iptNombre.$invalid}">
            <label class="control-label" for="iptNombre">Nombre</label>
            <textarea class="form-control" id="iptNombre" name="iptNombre" placeholder="Ingrese el nombre" ng-model="diagnostico.nombre" required maxlength="4096" rows="5"></textarea>
            <div ng-show="modalEditarDiagnostico.iptNombre.$dirty && modalEditarDiagnostico.iptNombre.$invalid">
                <small ng-show="modalEditarDiagnostico.iptNombre.$error.required" class="text-danger">
                    El nombre es requerido
                </small>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error' : modalEditarDiagnostico.iptObservaciones.$dirty && modalEditarDiagnostico.iptObservaciones.$invalid}">
            <label class="control-label" for="iptObservaciones">Observaciones</label>
            <textarea class="form-control" id="iptObservaciones" name="iptObservaciones" placeholder="Ingrese las Observaciones" ng-model="diagnostico.observaciones" required maxlength="4096" rows="5"></textarea>
            <div ng-show="modalEditarDiagnostico.iptObservaciones.$dirty && modalEditarDiagnostico.iptObservaciones.$invalid">
                <small ng-show="modalEditarDiagnostico.iptObservaciones.$error.required" class="text-danger">
                    Las Observaciones son requeridas
                </small>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error' : modalEditarDiagnostico.chkRequerido.$dirty && modalEditarDiagnostico.chkRequerido.$invalid}">
            <div class="checkbox c-checkbox needsclick">
                <label class="needsclick">
                    <input id="chkRequerido" name="chkRequerido" type="checkbox" class="needsclick" ng-model="diagnostico.esRequerido">
                    ¿Anula Diagnóstico?
                </label>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error' : modalEditarDiagnostico.chkOpcional.$dirty && modalEditarDiagnostico.chkOpcional.$invalid}">
            <div class="checkbox c-checkbox needsclick">
                <label class="needsclick">
                    <input id="chkOpcional" name="chkOpcional" type="checkbox" class="needsclick" ng-model="diagnostico.esOpcional">
                    ¿Es Opcional?
                </label>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error' : modalEditarDiagnostico.iptImagen.$dirty && modalEditarDiagnostico.iptImagen.$invalid}">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12">
                            <label class="control-label" for="iptImagen">Imagen</label>
                        </div>
                    </div>
                    <div class="row bow-margin-top-10">
                        <div class="col-md-12">
                            <div class="btn btn-info" ngf-select ngf-change="onFileSelect($files)">Seleccionar imagen</div>
                        </div>
                        <div class="col-md-12 bow-padding-top-10" ng-show="showProgressBar">
                            <div class="progress ng-isolate-scope text-center" value="0">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" ng-style="{width: percent + '%'}" style="width: 0%;"></div>
                                <span class="text-nowrap ng-binding ng-scope text-bold">Cargando ...</span>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="iptImagen" name="iptImagen" ng-model="diagnostico.urlImagen" required />
                    <div ng-show="modalEditarDiagnostico.modalNuevaCategoria.$dirty && modalEditarDiagnostico.iptImagen.$invalid">
                        <small ng-show="modalEditarDiagnostico.iptImagen.$error.required" class="text-danger">
                            La imagen es requerida
                        </small>
                    </div>
                </div>
                <div class="col-md-3">
                    <img class="img-responsive" src="{{diagnostico.urlImagen}}" />
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="okModal()" ng-disabled="modalEditarDiagnosticos.$invalid">Guardar</button>
    <button class="btn btn-danger" ng-click="cancelModal()">Cancelar</button>
</div>
