﻿<div class="container" ng-controller="app.views.admin.historiasViales as vm">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Historias en la Vía</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a class="clickable" ng-click="vm.abrirModalNueva(vm.paisId)" title="">Registrar Nueva Historia <span class="fa fa-plus"></span></a>
        </div>
        <div class="col-md-6 text-right">
            <p>{{vm.historiasViales.totalFilas}} Historias Registradas</p>
        </div>
    </div>
    <div class="row bow-padding-bottom-25">
        <div class="col-row-12 bow-padding-bottom-25">
            <div class="panel panel-default">
                <div class="table-responsive">
                    <table id="table-ext-3" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">Nombre</th>
                                <th class="text-center">Persona</th>
                                <th class="text-center">Fecha</th>
                                <th class="text-center">Estado</th>
                                <th class="text-center">Cambiar Estado</th>
                                <th class="text-center">Consultar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="historia in vm.historiasViales.filasMostrar track by $index">
                                <td>
                                    {{historia.nombre}}
                                </td>
                                <td>
                                    {{historia.nombrePersona}}
                                </td>
                                <td class="text-center">
                                    {{historia.fechaPublicacion | date:'MM/dd/yyyy' }}
                                </td>
                                <td class="text-center">
                                    <span ng-show="historia.esActiva">
                                        Activa
                                    </span>
                                    <span ng-show="!historia.esActiva">
                                        Inactiva
                                    </span>
                                </td>
                                <td class="text-center">
                                    <a class="clickable" ng-click="vm.modificarEstadoHistoria(historia)" title="Cambiar el estado de la historia"><span class="fa fa-refresh fa-2x text-orange"></span></a>
                                </td>
                                <td class="text-center">
                                    <a class="clickable" ng-click="vm.abrirModalEditar(historia.id)" title="Editar Historia Vial"><span class="fa fa-eye fa-2x text-orange"></span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="text-center">
                <pagination items-per-page="vm.historiasViales.filasPorPagina"
                            total-items="vm.historiasViales.totalFilas"
                            ng-model="vm.historiasViales.paginaActual"
                            ng-change="vm.historiasViales.pageChanged()"
                            class="pagination-sm"></pagination>
            </div>
        </div>
    </div>
</div>
