﻿<div class="container" ng-controller="app.views.admin.preguntasFrecuentes as vm">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Preguntas Frecuentes</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a class="clickable" ng-click="vm.abrirModalNueva()" title="">Registrar Nueva Pregunta Frecuente <span class="fa fa-plus"></span></a>
        </div>
        <div class="col-md-6 text-right">
            <p>{{vm.preguntasFrecuentes.totalFilas}} Preguntas Frecuentes</p>
        </div>
    </div>
    <div class="row bow-padding-bottom-25">
        <div class="col-row-12 bow-padding-bottom-25">
            <div class="panel panel-default">
                <div class="table-responsive">
                    <table id="table-ext-3" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">Pregunta</th>
                                <th class="text-center">Respuesta</th>
                                <th class="text-center">Estado</th>
                                <th class="text-center">Cambiar Estado</th>
                                <th class="text-center">Editar</th>
                                <th class="text-center">Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="pregunta in vm.preguntasFrecuentes.filasMostrar track by $index">
                                <td>
                                    {{pregunta.pregunta}}
                                </td>
                                <td>
                                    {{pregunta.respuesta}}
                                </td>
                                <td class="text-center">
                                    <span ng-show="pregunta.esActiva">
                                        Activa
                                    </span>
                                    <span ng-show="!pregunta.esActiva">
                                        Inactiva
                                    </span>
                                </td>
                                <td class="text-center">
                                    <a class="clickable" ng-click="vm.modificarEstadoPregunta(pregunta)" title="Cambiar el estado de la pregunta frecuente"><span class="fa fa-refresh fa-2x text-orange"></span></a>
                                </td>
                                <td class="text-center">
                                    <a class="clickable" ng-click="vm.abrirModalEditar(pregunta.id)" title="Editar pregunta frecuente"><span class="fa fa-pencil fa-2x text-orange"></span></a>
                                </td>
                                <td class="text-center">
                                    <a class="clickable" ng-click="vm.abrirModalEliminar(pregunta.id)" title="Eliminar pregunta frecuente"><span class="fa fa-trash fa-2x text-orange"></span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="text-center">
                <pagination items-per-page="vm.preguntasFrecuentes.filasPorPagina"
                            total-items="vm.preguntasFrecuentes.totalFilas"
                            ng-model="vm.preguntasFrecuentes.paginaActual"
                            ng-change="vm.preguntasFrecuentes.pageChanged()"
                            class="pagination-sm"></pagination>
            </div>
        </div>
    </div>
</div>
