﻿<style>
    .angular-google-map-container { height: 400px; }
</style>
<div class="modal-header">
    <h2>Consultar Reporte de Incidente</h2>
</div>
<div class="modal-body">
    <div class="alert alert-danger text-center" ng-show="mensajeError">
        <strong>{{mensajeError}}</strong>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label class="control-label">Tipo de Reporte</label>
        </div>
        <div class="col-md-8">
            {{reporteIncidente.tipoReporteIncidente}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label class="control-label">Latitud</label>
        </div>
        <div class="col-md-8">
            {{reporteIncidente.latitud}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label class="control-label">Longitud</label>
        </div>
        <div class="col-md-8">
            {{reporteIncidente.longitud}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label class="control-label">Observaciones</label>
        </div>
        <div class="col-md-8">
            {{reporteIncidente.observaciones}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label class="control-label">Fecha</label>
        </div>
        <div class="col-md-8">
            {{reporteIncidente.fecha | date:'dd-MM-yyyy'}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                <ui-gmap-marker coords="marker.coords" options="marker.options" idkey="marker.id">
                </ui-gmap-marker>
            </ui-gmap-google-map>
        </div>
    </div>
</div>