﻿<style>
    .navbar-default {
        background-color: #EEEEEE;
        border-color: #E0E0E0;
        font-weight: bold;
    }
</style>
<div id="footer" class="container">
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="navbar-inner navbar-content-center bow-padding-top-10">
            <p class="text-muted" style="color: #000000;">&copy; 2015 - <a href="https://www.mintransporte.gov.co/">Ministerio de Transporte</a></p>
        </div>
    </nav>
</div>
