﻿<div class="modal-header">
    <h2>Editar Categoría</h2>
</div>
<div class="modal-body">
    <div class="alert alert-danger text-center" ng-show="mensajeError">
        <strong>{{mensajeError}}</strong>
    </div>
    <form role="form" name="modalEditarCategoria">
        <div class="form-group" ng-class="{'has-error' : modalEditarCategoria.iptNombre.$dirty && modalEditarCategoria.iptNombre.$invalid}">
            <label class="control-label" for="iptNombre">Nombre</label>
            <input type="text" class="form-control" id="iptNombre" name="iptNombre" placeholder="Ingrese el nombre de la categoría" ng-model="categoria.nombre" required maxlength="4096" />
            <div ng-show="modalEditarCategoria.iptNombre.$dirty && modalEditarCategoria.iptNombre.$invalid">
                <small ng-show="modalEditarCategoria.iptNombre.$error.required" class="text-danger">
                    El nombre es requerido
                </small>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error' : modalEditarCategoria.selectedCategoria.$dirty && modalEditarCategoria.selectedCategoria.$invalid }">
            <label class="control-label" for="selectedCategoria">Tipo de Categoria</label>
            <select ng-model="categoria.tipoCategoria" class="form-control" name="selectedCategoria" id="selectedCategoria">
                <option value="">Seleccione...</option>
                <option value="reporte">Tipo para Reporte</option>
                <option value="historia">Tipo para Historias en la Vía</option>
                <option value="vehiculo">Tipo para Vehiculos</option>
            </select>
            <div ng-show="modalEditarCategoria.selectedCategoria.$dirty && modalEditarCategoria.selectedCategoria.$invalid">
                <small ng-show="modalEditarCategoria.selectedCategoria.$error.required" class="text-danger">
                    Debe seleccionar un tipo
                </small>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error' : modalEditarCategoria.iptImagen.$dirty && modalEditarCategoria.iptImagen.$invalid}">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12">
                            <label class="control-label" for="iptImagen">Imagen</label>
                        </div>
                    </div>
                    <div class="row bow-margin-top-10">
                        <div class="col-md-12">
                            <div class="btn btn-info" ngf-select ngf-change="onFileSelect($files)">Seleccionar imagen</div>
                        </div>
                        <div class="col-md-12 bow-padding-top-10" ng-show="showProgressBar">
                            <div class="progress ng-isolate-scope text-center" value="0">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" ng-style="{width: percent + '%'}" style="width: 0%;"></div>
                                <span class="text-nowrap ng-binding ng-scope text-bold">Cargando ...</span>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="iptImagen" name="iptImagen" ng-model="categoria.urlImagen" required />
                    <div ng-show="modalEditarCategoria.iptImagen.$dirty && modalEditarCategoria.iptImagen.$invalid">
                        <small ng-show="modalEditarCategoria.iptImagen.$error.required" class="text-danger">
                            La imagen es requerida
                        </small>
                    </div>
                </div>
                <div class="col-md-3">
                    <img class="img-responsive" src="{{categoria.urlImagen}}" />
                </div>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error' : modalEditarCategoria.iptImagenAdicional.$dirty && modalEditarCategoria.iptImagenAdicional.$invalid}" ng-show="categoria.tipoCategoria == 'reporte'">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12">
                            <label class="control-label" for="iptImagenAdicional">Imagen Adicional</label>
                        </div>
                    </div>
                    <div class="row bow-margin-top-10">
                        <div class="col-md-12">
                            <div class="btn btn-info" ngf-select ngf-change="onFileSelectAdicional($files)">Seleccionar imagen</div>
                        </div>
                        <div class="col-md-12 bow-padding-top-10" ng-show="showProgressBarAdicional">
                            <div class="progress ng-isolate-scope text-center" value="0">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" ng-style="{width: percentAdicional + '%'}" style="width: 0%;"></div>
                                <span class="text-nowrap ng-binding ng-scope text-bold">Cargando ...</span>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="iptImagenAdicional" name="iptImagenAdicional" ng-model="categoria.urlImagenAdicional" ng-required="categoria.tipoCategoria == 'reporte'" />
                    <div ng-show="modalEditarCategoria.iptImagenAdicional.$dirty && modalEditarCategoria.iptImagenAdicional.$invalid">
                        <small ng-show="modalEditarCategoria.iptImagenAdicional.$error.required" class="text-danger">
                            La imagen adicional es requerida
                        </small>
                    </div>
                </div>
                <div class="col-md-3">
                    <img class="img-responsive" src="{{categoria.urlImagenAdicional}}" />
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="okModal()" ng-disabled="modalEditarCategoria.$invalid">Guardar</button>
    <button class="btn btn-danger" ng-click="cancelModal()">Cancelar</button>
</div>
