﻿<div class="modal-header">
    <h2>Consultar Reporte de Calificación</h2>
</div>
<div class="modal-body">
    <div class="alert alert-danger text-center" ng-show="mensajeError">
        <strong>{{mensajeError}}</strong>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label class="control-label">Tipo de Reporte</label>
        </div>
        <div class="col-md-8">
            {{reporteCalificacion.tipoVehiculoReporte}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label class="control-label">Placa</label>
        </div>
        <div class="col-md-8">
            {{reporteCalificacion.placa}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label class="control-label">Empresa</label>
        </div>
        <div class="col-md-8">
            {{reporteCalificacion.empresa}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label class="control-label">Observaciones</label>
        </div>
        <div class="col-md-8">
            {{reporteCalificacion.observaciones}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label class="control-label">Calificacion</label>
        </div>
        <div class="col-md-8">
            {{reporteCalificacion.calificacion}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label class="control-label">Fecha</label>
        </div>
        <div class="col-md-8">
            {{reporteCalificacion.fecha}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label class="control-label">Imagen</label>
        </div>
        <div class="col-md-8">
            <img class="img-responsive" src="{{reporteCalificacion.urlImagen}}" />
        </div>
    </div>
</div>