﻿<div class="container" ng-controller="app.views.admin.calificacionConductores as vm">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Reportes de Conductores</h1>
        </div>
    </div>
    <div class="row bow-padding-bottom-20">
        <div class="col-md-2">
            Filtrar:
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" ng-model="filterTable" />
        </div>
        <div class="col-md-6 text-right">
            <p>{{vm.listaReporteConductores.totalFilas}} Reportes</p>
        </div>
    </div>
    <div class="row bow-padding-bottom-25">
        <div class="col-row-12 bow-padding-bottom-25">
            <div class="panel panel-default">
                <div class="table-responsive">
                    <table id="table-ext-3" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">Tipo de Vehiculo</th>
                                <th class="text-center">Placa</th>
                                <th class="text-center">Observaciones</th>
                                <th class="text-center">Fecha</th>
                                <th class="text-center">Calificación</th>
                                <th class="text-center">Consultar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="reporte in vm.listaReporteConductores.filasMostrar | filter: filterTable track by $index">
                                <td class="text-center">
                                    {{reporte.tipoVehiculoReporte}}
                                </td>
                                <td>
                                    {{reporte.placa}}
                                </td>
                                <td>
                                    {{reporte.observaciones | limitTo: 100 }}
                                    <span ng-show="reporte.observaciones.length > 100"> ...</span>
                                </td>
                                <td class="text-center">
                                    {{reporte.fecha | date:'yyyy-MM-dd'}}
                                </td>
                                <td class="text-center">
                                    <i class="fa" ng-class="{ 'fa-star' : reporte.calificacion > 0, 'fa-star-o' : reporte.calificacion < 1 }"></i>
                                    <i class="fa" ng-class="{ 'fa-star' : reporte.calificacion > 1, 'fa-star-o' : reporte.calificacion < 2 }"></i>
                                    <i class="fa" ng-class="{ 'fa-star' : reporte.calificacion > 2, 'fa-star-o' : reporte.calificacion < 3 }"></i>
                                    <i class="fa" ng-class="{ 'fa-star' : reporte.calificacion > 3, 'fa-star-o' : reporte.calificacion < 4 }"></i>
                                    <i class="fa" ng-class="{ 'fa-star' : reporte.calificacion > 4, 'fa-star-o' : reporte.calificacion < 5 }"></i>
                                </td>
                                <td class="text-center">
                                    <a class="clickable" ng-click="vm.abrirModalConsultar(reporte.id)" title="Consultar el reporte"><span class="fa fa-eye fa-2x text-orange"></span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="text-center">
                <pagination items-per-page="vm.listaReporteConductores.filasPorPagina"
                            total-items="vm.listaReporteConductores.totalFilas"
                            ng-model="vm.listaReporteConductores.paginaActual"
                            ng-change="vm.listaReporteConductores.pageChanged()"
                            class="pagination-sm"></pagination>
            </div>
        </div>
    </div>
</div>
