﻿<div class="container" ng-controller="app.views.admin.deslizador as vm">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Imágenes Deslizador</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a class="clickable" ng-click="vm.abrirModalNueva(vm.paisId)" title="">Registrar Nueva Imagen <span class="fa fa-plus"></span></a>
        </div>
        <div class="col-md-6 text-right">
            <p>{{vm.deslizador.totalFilas}} deslizadores registrados</p>
        </div>
    </div>
    <div class="row bow-padding-bottom-25">
        <div class="col-row-12 bow-padding-bottom-25">
            <div class="panel panel-default">
                <div class="table-responsive">
                    <table id="table-ext-3" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">Imagen</th>
                                <th class="text-center">Descripción</th>
                                <th class="text-center">Editar</th>
                                <th class="text-center">Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="deslizador in vm.deslizador.filasMostrar track by $index">
                                <td class="text-center">
                                    <img width="100" src="{{deslizador.urlImagen}}" />
                                </td>
                                <td>
                                    {{deslizador.nombre}}
                                </td>
                                <td class="text-center">
                                    <a class="clickable" ng-click="vm.abrirModalEditar(deslizador.id)" title="Editar Imagen del slider"><span class="fa fa-pencil fa-2x text-orange"></span></a>
                                </td>
                                <td class="text-center">
                                    <a class="clickable" ng-click="vm.abrirModalEliminar(deslizador.id)" title="Eliminar Imagen del slider"><span class="fa fa-trash fa-2x text-orange"></span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="text-center">
                <pagination items-per-page="vm.deslizador.filasPorPagina"
                            total-items="vm.deslizador.totalFilas"
                            ng-model="vm.deslizador.paginaActual"
                            ng-change="vm.deslizador.pageChanged()"
                            class="pagination-sm"></pagination>
            </div>
        </div>
    </div>
</div>
