﻿<div class="modal-header">
    <h2>Consultar Historia en la Vía</h2>
</div>
<div class="modal-body">
    <div class="alert alert-danger text-center" ng-show="mensajeError">
        <strong>{{mensajeError}}</strong>
    </div>
    <form role="form" name="modalEditarHistoriaVial">
        <div class="row">
            <div class="col-md-4">
                <label class="control-label">Título</label>
            </div>
            <div class="col-md-8">
                <label class="text-muted">{{historiaVial.nombre}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="control-label">Descripción</label>
            </div>
            <div class="col-md-8">
                <label class="text-muted">{{historiaVial.descripcion}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="control-label">Nombre de la Persona</label>
            </div>
            <div class="col-md-8">
                <label class="text-muted">{{historiaVial.nombrePersona}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="control-label">Categoría</label>
            </div>
            <div class="col-md-8">
                <label class="text-muted">{{historiaVial.categoria}}</label>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="cancelModal()">Cerrar</button>
</div>
