﻿<div class="modal-header">
    <h2>Agregar Historia en la Vía</h2>
</div>
<div class="modal-body">
    <div class="alert alert-danger text-center" ng-show="mensajeError">
        <strong>{{mensajeError}}</strong>
    </div>
    <form role="form" name="modalNuevaHistoriaVial">
        <div class="form-group" ng-class="{'has-error' : modalNuevaHistoriaVial.iptNombre.$dirty && modalNuevaHistoriaVial.iptNombre.$invalid}">
            <label class="control-label" for="iptNombre">Título</label>
            <input type="text" class="form-control" id="iptNombre" name="iptNombre" placeholder="Ingrese el título de la historia" ng-model="historiaVial.nombre" required maxlength="512" />
            <div ng-show="modalNuevaHistoriaVial.iptNombre.$dirty && modalNuevaHistoriaVial.iptNombre.$invalid">
                <small ng-show="modalNuevaHistoriaVial.iptNombre.$error.required" class="text-danger">
                    El título de la historia es requerido
                </small>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error' : modalNuevaHistoriaVial.iptDescripcion.$dirty && modalNuevaHistoriaVial.iptDescripcion.$invalid}">
            <label class="control-label" for="iptDescripcion">Descripción</label>
            <textarea class="form-control" id="iptDescripcion" name="iptDescripcion" placeholder="Ingrese el contenido de la historia" ng-model="historiaVial.descripcion" required maxlength="2048" rows="5"></textarea>
            <div ng-show="modalNuevaHistoriaVial.iptDescripcion.$dirty && modalNuevaHistoriaVial.iptDescripcion.$invalid">
                <small ng-show="modalNuevaHistoriaVial.iptDescripcion.$error.required" class="text-danger">
                    La descripción del historia es requerida
                </small>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error' : modalNuevaHistoriaVial.iptNombrePersona.$dirty && modalNuevaHistoriaVial.iptNombrePersona.$invalid}">
            <label class="control-label" for="iptNombrePersona">Nombre de la Persona</label>
            <input type="text" class="form-control" id="iptNombrePersona" name="iptNombrePersona" placeholder="Ingrese la persona de la historia" ng-model="historiaVial.nombrePersona" required maxlength="1024" />
            <div ng-show="modalNuevaHistoriaVial.iptNombrePersona.$dirty && modalNuevaHistoriaVial.iptNombrePersona.$invalid">
                <small ng-show="modalNuevaHistoriaVial.iptNombrePersona.$error.required" class="text-danger">
                    El nombre de la persona es requerido
                </small>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error' : modalNuevaHistoriaVial.selectedCategoria.$dirty && modalNuevaHistoriaVial.selectedCategoria.$invalid }">
            <label class="control-label" for="selectedCategoria">Categoría</label>
            <select ng-model="historiaVial.categoriaId" ng-options="categoria.id as categoria.nombre for categoria in listaCategorias" class="form-control" name="selectedCategoria" id="selectedCategoria" required>
                <option value="">Seleccione...</option>
            </select>
            <div ng-show="modalNuevaHistoriaVial.selectedCategoria.$dirty && modalNuevaHistoriaVial.selectedCategoria.$invalid">
                <small ng-show="modalNuevaHistoriaVial.selectedCategoria.$error.required" class="text-danger">
                    Debe seleccionar una categoría
                </small>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="okModal()" ng-disabled="modalNuevaHistoriaVial.$invalid">Aceptar</button>
    <button class="btn btn-danger" ng-click="cancelModal()">Cancelar</button>
</div>